@media screen and (min-width: 1000px) and (max-width: 2000px){
    .mainAuth{
        width: 100%;
        height: 100vh;
        font-family: Century Gothic, 'Times New Roman', serif;
        font-weight: 100;
        font-size: 200%;
        font-stretch: condensed;
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .authForm{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .emAuth{
        margin-top: 10px;
        width: 200px;
    }
    .pswAuth{
        margin-top: 10px;
        width: 200px;
    }
    .subAuth{
        height: 25px;
        margin-top: 10px;
        background-color: white;
        border: 1px solid black;
        border-radius: 15px;
        cursor: pointer;
        width: 200px;
    }
    .subAuth:disabled{
        height: 25px;
        margin-top: 10px;
        background-color: white;
        border: 1px solid black;
        border-radius: 15px;
        cursor:no-drop;
        width: 200px;
    }
    .errorEmailOrPass{
        color: red;
        font-size: 40%;
    }
    .toReg{
        color: black;
        margin-top: 10px;
        font-size: 40%;
        cursor: pointer;
    }
}

@media screen and (min-width: 2001px){
    .mainAuth{
        width: 100%;
        height: 100vh;
        font-family: Century Gothic, 'Times New Roman', serif;
        font-weight: 100;
        font-size: 500%;
        font-stretch: condensed;
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .authForm{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .emAuth{
        margin-top: 20px;
        font-size: 50%;
        border-radius: 2px;
        width: 400px;
    }
    .pswAuth{
        margin-top: 20px;
        font-size: 50%;
        border-radius: 2px;
        width: 400px;
    }
    .subAuth{
        height: 50px;
        margin-top: 20px;
        background-color: white;
        border: 2px solid black;
        cursor: pointer;
        font-size: 45%;
        width: 400px;
    }
    .subAuth:disabled{
        height: 50px;
        margin-top: 20px;
        background-color: white;
        border: 2px solid black;
        cursor: no-drop;
        font-size: 45%;
        width: 400px;
    }
    .errorEmailOrPass{
        color: red;
        font-size: 40%;
    }
    .toReg{
        color: black;
        margin-top: 10px;
        font-size: 40%;
        cursor: pointer;
    }
}

@media screen and (max-width: 999px){
    .mainAuth{
        width: 100%;
        height: 100vh;
        font-family: Century Gothic, 'Times New Roman', serif;
        font-weight: 100;
        font-size: 125%;
        font-stretch: condensed;
        font-style: normal;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .authForm{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .emAuth{
        margin-top: 10px;
        width: 150px;
    }
    .pswAuth{
        margin-top: 10px;
        width: 150px;
    }
    .subAuth{
        height: 23px;
        width: 100%;
        margin-top: 10px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        cursor: pointer;
        width: 150px;
    }
    .subAuth:disabled{
        height: 23px;
        width: 100%;
        margin-top: 10px;
        background-color: white;
        border: 1px solid black;
        border-radius: 10px;
        cursor: no-drop;
        width: 150px;
    }
    .errorEmailOrPass{
        color: red;
        font-size: 50%;
    }
    .toReg{
        color: black;
        margin-top: 10px;
        font-size: 60%;
        cursor: pointer;
    }
}