@media screen and (min-width: 1000px) and (max-width: 2000px){
    .mainH{
        display: flex;
        width: 77px;
        height: 77px;
        justify-content: center;
        align-items: center;
    }

    .mainH:hover{
        display: flex;
        width: 77px;
        height: 77px;
        justify-content: center;
        align-items: center;
        background-color: rgb(200, 200, 200);
    }

    .homeImg{
        width: 60px;
        height: 55px;
    }
    .homeImg:hover{
        width: 62px;
        height: 57px;
    }
}

@media screen and (min-width: 2001px){
    .mainH{
        display: flex;
        width: 150px;
        height: 150px;
        justify-content: center;
        align-items: center;
    }

    .mainH:hover{
        display: flex;
        width: 150px;
        height: 150px;
        justify-content: center;
        align-items: center;
        background-color: rgb(200, 200, 200);
    }

    .homeImg{
        width: 100px;
        height: 85px;
    }
    .homeImg:hover{
        width: 105px;
        height: 90px;
    }
}

@media screen and (max-width: 999px){
    .mainH{
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    .mainH:hover:hover{
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: rgb(200, 200, 200);
    }
    .mainH:active{
        display: flex;
        width: 60px;
        height: 60px;
        justify-content: center;
        align-items: center;
        background-color: rgb(200, 200, 200);
    }

    .homeImg{
        width: 50px;
        height: 45px;
    }
    .homeImg:hover{
        width: 52px;
        height: 47px;
    }
    .homeImg:active{
        width: 52px;
        height: 47px;
    }
}